version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    environment:
      - HOST=0.0.0.0
      - OLLAMA_BASE_URL=http://ollama:11434
      - AI_PROVIDER=gemini # Options: ollama, gemini, deepseek
    volumes:
      - ./server/faiss_index_ollama:/app/faiss_index_ollama
      - ./server/faiss_index_ollama_local:/app/faiss_index_ollama_local
      - ./server/faiss_index_gemini_local:/app/faiss_index_gemini_local
      - ./server/faiss_index_deepseek_local:/app/faiss_index_deepseek_local
      - ./server/data:/app/data
    depends_on:
      - ollama
    networks:
      - tomi-network

  ollama:
    image: ollama/ollama:latest
    restart: unless-stopped
    container_name: ollama
    volumes:
      - ollama_storage:/root/.ollama
    networks:
      - tomi-network
    expose:
      - "11434"

volumes:
  ollama_storage:


networks:
  tomi-network:
    driver: bridge
