services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    environment:
      - HOST=0.0.0.0

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
