services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    environment:
      - HOST=0.0.0.0
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
      - AI_PROVIDER=ollama # Options: ollama, gemini, deepseek
    volumes:
      - ./server/faiss_index_ollama:/app/faiss_index_ollama
      - ./server/faiss_index_gemini:/app/faiss_index_gemini
      - ./server/data:/app/data

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
