services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env
    environment:
      - HOST=0.0.0.0
    volumes:
      - ./server/faiss_index:/app/faiss_index
      - ./server/data:/app/data

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
