fastapi
uvicorn
pydantic
python-multipart
google-generativeai
langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.23
langchain-text-splitters==0.2.2
langchain-google-genai==1.0.7
langchain-openai==0.1.17
pypdf
faiss-cpu
python-dotenv
gTTS
fastembed==0.3.3
